<body>
  <h2>List of Works</h2>

  <div>
    <h3>Albums</h3>
    <ul>
      <% @albums.each do |album| %>
          <li>
            <%= link_to album.title, work_path(album) %> 
          </li>
        <% end %>
    </ul>
  </div>

  <div>
    <h3>Books</h3>
    <ul>
      <% @books.each do |book| %>
          <li>
            <%= link_to book.title, work_path(book) %> 
          </li>
        <% end %>
    </ul>
  </div>

  <div>
    <h3>Movies</h3>
    <ul>
      <% @movies.each do |movie| %>
          <li>
            <%= link_to movie.title, work_path(movie) %> 
          </li>
        <% end %>
    </ul>
  </div>
</body>